/* .home-page {
  background: linear-gradient(135deg, rgba(255, 153, 204, 0.8), rgba(204, 255, 204, 0.8));
  padding: 50px 20px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
} */
.home-page {
  background: linear-gradient(135deg, rgba(255, 153, 204, 0.8), rgba(204, 255, 204, 0.8));
  padding: 50px 20px;
  border-radius: 15px 15px 0 0; /* Only top corners rounded */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}


.text-gradient {
  background: -webkit-linear-gradient(45deg, #ff6b6b, #f1a205);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.features-container {
  background: linear-gradient(90deg, rgba(255, 105, 180, 1) 0%, rgba(25, 118, 210, 1) 100%);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(163, 4, 4, 0.1);
}

.feature-item {
  font-size: 1.2rem;
  margin: 10px 0;
}

.action-buttons .btn {
  font-size: 1.2rem;
  padding: 10px 20px;
  transition: transform 0.2s;
}

.action-buttons .btn:hover {
  transform: scale(1.05);
}

.footer {
  font-size: 1rem;
  margin-top: 20px;
}
